extends layout

block content
  h1= title
  - let ball=results
  div(class="container-fluid")
  div(class="row")
   each b,index in ball
    - let destination = `dispatch(\"/ball/update?id=${b._id}\")`
    div(class="col-sm-2" class="m-1") #{b.ball_type}, #{b.ball_size}, #{b.ball_cost}
     button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
   function dispatch(path){
    window.location.href=path
   }
